body{
	width: 100%;
	margin: 0;
	background: gray;
	height: 100%;
	padding:0;
	text-align: center;
}
.fps{
	position: absolute;
	right:10px;
}

html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}